body{
    background-color: #05152f;
    color: whitesmoke;
    font-family: sans-serif;
    margin: 0px;
}
.boxphoto{
    width:80px;
    height:80px;
}
.scheduled_match.first{
    border-style: solid;
    border-color: #79a33c;
}
ul{
    position: relative;
    top: -19px;
    display: inherit;
    align-items: center;
    list-style: none;
} 
li {
  width: fit-content;
  margin-right: -30px;
  padding: 0px 20px 0px 20px;
}
.header{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.header_name{
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
}
button{
    background-color: #7ba435;
    border-radius: 5px;
    color: antiquewhite;
    border: none;
    font-weight: bold;
}
.header_homebutton{
padding: 7px 8px 7px 9px;
}
.header_checkouticons{
   display: grid;
   grid-template-columns: auto auto;
   column-gap: 30px;
   padding-left: -15px;
}
.header_dropdown{
    background-color: #05152f;
    color: white;
    font-size: 15px;
    border: none;
    margin: 5px;
}
.header_contactbutton{
    padding: 7px 13px 7px 13px;
    margin-left: 7px;
}
.playnowbutton{
    padding: 15px 30px 15px 30px;
    font-weight: bolder;
    font-size: larger;
}
.othersmatchbutton{
    padding: 20px 50px 20px 50px;
    font-weight: bolder;
    font-size: large;
    margin:15px 0px 0px 10px;
}
#star{
    transform: rotate(-25deg);
}
.primary_logo{
    padding:0px 0px 0px 25px;
    height: 200px;
    height: fit-content;
}
.primary_icons{
    display: flex;
    justify-content: space-around;
    column-gap: 25px;
    width: fit-content;
}
.primary_label1{
    font-size: 20px;
    color: #7ba435;
    margin: 5px;
}
.primary_label2{
    font-weight: bolder;
    font-size:50px;
    margin: 5px 0px 10px 0px;
}
.primary{
    display: flex ;
    padding: 20px 0px 0px 70px;
}
.trapezium_in_background{
    opacity: 15%;
    background-color:#79a33c;
    transform: skewX(-15deg);
    position: relative;
    z-index: -10;
}
.trapezium_in_background.first{
    width:150px;
    left:320px;
    top: 30px;
}
.trapezium_in_background.second{
    width:140px;
    left: -200px;
    top: 190px;
}
.primary_content{
    line-height: 40px;
}
pre{
    font-size: larger;
    font-weight: 200;
}

.secondary{
    display: flex;
    background-color: #000f2e;
    width: 100%;
    padding:35px 0px 40px 0px;
}
.secondary_label_hr{
    width: 40px;
    color:#79a33c;
    background-color: #79a33c;
    border:none;
    height: 2px;
    margin-left: 0px;
    top: 22px;
    position: relative;
}
.secondary_text{
    padding-top: 25px;
    line-height: 35px;
}
.secondary_label3{
    color: #7ba435;
    font-size: 23px;
    margin-left: 50px;
}
.secondary_label4{
    font-weight: bolder;
    font-size: 35px;
}
#primary-resource{
    width:400px;
    height:400px;
}
.secondary_childphoto{
    width:600px;
    height:350px;
    padding:0px 100px 0px 70px  ;
}
.scheduled_matches{
    display:grid;
    grid-template-columns: auto auto auto;
    row-gap: 40px;
    padding-left: 60px;
    column-gap: 30px;    
}
.scheduled_match{
    height: 370px;
    width: 350px;
    border-radius: 3%;
    margin: auto;
    border: 3px solid #1a2c42;
}
.tertiary{
    padding: 30px 0px 30px 0px ;   
}
.tertiary_heading{
    font-weight: bolder;
    font-size: 50px;
}
.Stats_division{
    background-color: #000f2e;
    
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    width: 100%;

    
}
.stats_inner{
    margin-top: 50px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    column-gap: 175px;
    border: 1px solid #1a2c42;
    padding: 50px 70px 50px 50px;
}
.scheduled_match_inner{
    border: 1px solid #1a2c42;
    border-radius: 30px;
    width: 55%;
    height: 40px;
    position: relative;
    tp: 40px;
    lft: 60px;
    text-align: center;
}
.scheduled_match_hr1{
    width: 85px;
    background-color: #1a2c42;
    border: none;
    height: 1.5px;
    margin-top: 20px;
}
.scheduled_match_hr2{
    width: 70px;
    background-color: #1a2c42;
    border: none;
    height: 1.5px;
    margin-top: 20px;
}
.match_livestream{
    padding-top: 70px;
    text-align: center;
    display: flex;
}
.scheduled_match_images{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}
.scheduled_match_text{
    padding:10px 0px 0px 5px;
}
.teritiary_description{
    text-align: center;
    padding-bottom: 30px;
}
.teritary_button{
    text-align: center;
}
#primary-playnow{
    padding-top: 5px;
}
.scheduled_match_lighttext{
    color: #3d628f;
    margin: 5px;
    padding-top: 5px;
}
.scheduled_match_boldtext{
    margin: 5px;
    font-size: x-large;
    padding-top: 6px;
}
.scheduled_match_greentext{
    color: #7ba435;
    margin: 5px;
    padding-top: 13px;
}
.scheduled_match_playnow{
    padding-top: 9px;
    width:30px;
    height:20px;
}
.footer_primary_icons_list{
    width:250px;
    height:50px;
}
.footer_primary_name{
    padding-bottom: 30px;
    font-weight: bold;
    font-size: larger;
}
.scheduled_match_innertext{
   padding-left: 12px;
   position: relative;
   top:-5px;
}
.stats_inner_numbers{
    font-weight: bold;
    text-align: center;
    padding-top: 2px;  
    font-size: 8px;
}
.stats_inner_num1{
    font-size: 60px;
    font-weight: bold;
}
.stats_inner_greentext{
    background-color: #79a33c;
    border-radius: 10px;
    margin: 0px 10px 0px 10px;
    padding: 2px 0px 2px 0px;
}
.stats_inner_greentext.pro{
    margin: 0px 20px 0px 25px;  
}
.end_division{
    background-color: #000f2e;
    position: relative;
    left: -7px;
    padding: 30px 80px 0px 80px ;
    display: grid;
    row-gap: 50px;
    margin-top:  130px;
}
.footer_tertiary_conents{
    line-height: 3.6;
}
.end_subject{
    display: flex;
    background-color:#7ba435;
    border-radius: 10px;
    height: 100px;
}
.end_sub1{
    font-size: x-large;
    font-weight: bold;
    padding: 10px 0px 0px 25px;
}
.textinfooter{
    font-size: medium;
    font-weight: 720;
}
.footer_input{
    border-radius: 6px;
    width: 500px;
    height: 60px;
    margin:15px 0px 0px 80px;
    border: none;
}
.footer_subscribe{
    border-radius: 7px;
    background-color: black;
    color: white;
    padding: 7px 7px 5px 7px ;
    font-weight: bolder;
    font-size: medium;
    position: relative;
    top: -50px;
    margin-left: 400px;
}
.foot_division{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 94px;
}
.footer_winner{
    font-weight: bolder;
    font-size:larger;   
}
.footer_secondary{
    line-height: 35px;
}
.footer_primary-name{
    font-size: x-large;
    font-weight: bolder;
}
.footer_secondary_greentext{
    color: #7ba435;
}
.footer_primary_text{
    line-height: 170%;
}
.footerimgages{
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto ;
    row-gap: 30px;
    column-gap: 10px;
}
.header_joinNowbutton{
    height: 30px;
    width: 130px;
}
@media only screen and (max-width: 750px) {

.trapezium_in_background{
    display: none;
}
.header_contactbutton{
    display:none;
}
#primary_playnow{
    display: none;
}
.header_name{
    padding-left: 75px;
}
.primary{
    display: grid;
    
    padding-left: 220px;   
}
.primary_logo{
  margin-left: -70px;
  
}
.primary_content{
margin-left: -130px;
}
.trapezium_in_the_background1{
    display: none;
}
.trapezium_in_the_background2{
    display: none;
}
#shopi{
    padding-left: 50px;
}
.secondary{
    width:130%;
    padding-left: 110px;
}
.secondary_childphoto{
    display: none;
}
.tertiary{
    padding-left: 40px;
}
.tertiary{
    display: grid;
    margin-top: 50px;
}
.scheduled_matches{
    display: grid;
    grid-template-columns: auto;
}
.Stats_division{  
    padding: 0px 120px 10px 30px;
    width: 130%
}
.stats_inner{
    border: none;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 30px;
}
.end_division{
    width: 130%;
    height:fit-content;
}
.end_subject{
    margin-left: 75px;
    height: 200px;
    width: 550px;
}
.end_division{
    padding-left: 10px;
}
.end_sub2{
    position: relative;
    padding-top: 100px;
    margin-left: -450px;
}
.foot_division{
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 30px;   
}
}
